<!-- Gestion des patients.component.html -->
<div class="container">
  <h1>Paiement</h1>
  <hr>
  <form (ngSubmit)="onSubmit()" #patientForm="ngForm" novalidate>
    <!-- Add 'novalidate' attribute to the form to disable browser validation -->
    <div class="form-group">
      <label for="type_carte">Type de carte</label>
      <select class="form-control" id="type_carte" name="type_carte" [(ngModel)]="newPaiement.type_carte" required>
        <option value="" disabled>Select type de carte</option>
        <option value="carte_bancaire">Carte bancaire</option>
        <option value="carte_e_dinar">Carte e-dinar</option>
      </select>

      <label for="numero_carte">Numéro de carte</label>
      <input type="text" class="form-control" id="numero_carte" placeholder="Enter numéro de carte" [(ngModel)]="newPaiement.numero_carte" name="numero_carte" required>

      <div *ngIf="patientForm.controls['numero_carte'].invalid && (patientForm.controls['numero_carte'].dirty || patientForm.controls['numero_carte'].touched)">
        <div class="alert alert-danger">
          Numéro de carte est requis.
        </div>
      </div>

      <label for="date_expiration_carte">Date d'expiration de la carte</label>
      <input type="datetime-local" class="form-control" id="date_expiration_carte" placeholder="Enter date d'expiration de la carte" [(ngModel)]="newPaiement.date_expiration_carte" name="date_expiration_carte" required>

      <div *ngIf="patientForm.controls['date_expiration_carte'].invalid && (patientForm.controls['date_expiration_carte'].dirty || patientForm.controls['date_expiration_carte'].touched)">
        <div class="alert alert-danger">
          Date d'expiration de la carte est requise.
        </div>
      </div>
    </div>
    <button id="submitButton" type="submit" class="btn btn-primary" [disabled]="patientForm.invalid">Confirmer le paiement</button>
    <!-- Disable the button if the form is invalid -->
  </form>
  <hr>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Type de carte</th>
      <th scope="col">Numéro de carte</th>
      <th scope="col">Date d'expiration de la carte</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let t of paiementArray; index as i">
      <td>{{ t.id }}</td>
      <td>{{ t.type_carte }}</td>
      <td>{{ t.numero_carte }}</td>
      <td>{{ t.date_expiration_carte }}</td>
      <td><button class="btn btn-warning btn-sm" (click)="onUpdate(i)">Update</button></td>
      <td><button class="btn btn-danger btn-sm" (click)="onDelete(i)">Delete</button></td>
    </tr>
  </tbody>
</table>
<footer>
  <p>&copy; 2023 Agence de location de voitures AutoCar</p>
  <p>Contactez-nous : info@locationvoitures.com</p>
</footer>
